{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Management</title>
</head>
<body>
    <div>
        <h3 class="logo">Divine Hospital</h3>
        <nav>
            <ul>
                <li>Home</li>
                <li>About</li>
                <li>Book A Doctor</li>
                <li>Blog</li>
                <li>Contact</li>
            </ul>
        </nav>
    </div>
    <img height="250" width="250" src="{% static '/doc.jpg' %}" alt="doctor">
</body>
</html>